<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">DPSTC Check-In</a>
        </div>
        <div class="nav navbar-nav">
            <button 
                type="button" 
                class="btn btn-default navbar-btn"
                (click)="onReset()">Reset</button>
        </div>
    </div>
</nav> -->

<md-toolbar 
    color="primary"
    class="mat-elevation-z6">
    <span>DPSTC Check-In</span>
    <span class="spacer"></span>
    <button md-button
        type="submit" 
        (click)="onReset()">RESET</button>
</md-toolbar>