<!-- <md-grid-list cols="2" rowHeight="4:3" *ngIf="possiblePersons.length > 0; else noPossiblePerson">
  <md-grid-tile *ngFor="let personEl of possiblePersons" [colspan]=1 [rowspan]=1>
    <app-possible-person [possiblePerson]="personEl">
    </app-possible-person>
  </md-grid-tile>
</md-grid-list>
<ng-template #noPossiblePerson>
  <div class="jumbotron">
    <h1 class="display-2">No Person Found</h1>
  </div>
</ng-template> -->
<div class="welcome hero">
  <div class="mat-headline">Please Verify Who You Are</div>
</div>
<div *ngIf="possiblePersons; else noPossiblePerson" >
    <div class="card-list">
      <a class="card-list-item"
        *ngFor="let personEl of possiblePersons">
        <app-possible-person [possiblePerson]="personEl">
        </app-possible-person>
      </a>
    </div>
    <div style="padding: 40px;">
      <md-card>
        <md-card-title-group>
          <md-card-title>I Am Not Listed Here</md-card-title>
          <md-card-subtitle>Please search again or create a profile</md-card-subtitle>
      </md-card-title-group>
          <md-card-actions>
              <button 
                md-raised-button 
                (click)="onSearchAgain()">Search Again</button>
              <button 
                md-raised-button 
                (click)="onCreateProfile()">Create A Profile</button>
            </md-card-actions>
      </md-card>
    </div>
</div>

<ng-template #noPossiblePerson>
  <div class="viewer-wrapper">
      <md-card class="alert-card">
        <md-card-title-group>
            <md-card-title>We Couldn't Find You</md-card-title>
            <md-card-subtitle>Please search again or create a profile</md-card-subtitle>
        </md-card-title-group>
            <md-card-actions>
                <button 
                  md-raised-button 
                  (click)="onSearchAgain()">Search Again</button>
                <button 
                  md-raised-button 
                  (click)="onCreateProfile()">Create A Profile</button>
              </md-card-actions>
            
        </md-card>
  </div>
  
</ng-template>
