<!-- <md-grid-list cols="2" rowHeight="4:3" *ngIf="possiblePersons.length > 0; else noPossiblePerson">
  <md-grid-tile *ngFor="let personEl of possiblePersons" [colspan]=1 [rowspan]=1>
    <app-possible-person [possiblePerson]="personEl">
    </app-possible-person>
  </md-grid-tile>
</md-grid-list>
<ng-template #noPossiblePerson>
  <div class="jumbotron">
    <h1 class="display-2">No Person Found</h1>
  </div>
</ng-template> -->
<h1>Select a Person</h1>
<md-grid-list cols="2" *ngIf="possiblePersons.length > 0; else noPossiblePerson" >
  <md-grid-tile 
    *ngFor="let personEl of possiblePersons">
    <app-possible-person [possiblePerson]="personEl">
    </app-possible-person>
  </md-grid-tile>
</md-grid-list>
<ng-template #noPossiblePerson>
  <h1>No Person Found</h1>
</ng-template>
