<div class="welcome hero">
  <div class="mat-headline">Your Profile</div>
</div>
<div class="viewer-wrapper-large">
  <md-card>
      <md-card-title>{{ this.titleText }}</md-card-title>
      <md-card-subtitle>{{ this.subtitle }}</md-card-subtitle>
      <md-card-content>
          <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
              <div class="form-wrapper">
                <table class="full-width" cellspacing="0">
                    <tr>
                      <td>
                        <md-form-field class="full-width">
                          <input mdInput 
                            placeholder="Last Name" 
                            type="text" 
                            formControlName="lname"
                          >
                          <md-error>Please enter your <strong>last name</strong>.</md-error>
                        </md-form-field>
                      </td>
                      <td>
                        <md-form-field  class="full-width">
                          <input 
                            mdInput 
                            placeholder="First Name"
                            type="text"
                            formControlName="fname"
                          >
                          <md-error>Please enter your <strong>first name</strong>.</md-error>
                        </md-form-field>
                      </td>
                    </tr>
                  </table>  
                  <md-form-field class="full-width">
                    <input 
                      mdInput 
                      type="text" 
                      placeholder="Agency or Employer"
                      formControlName="agency"
                    >
                    <md-error>Please enter your <strong>agency or employer</strong>.</md-error>
                  </md-form-field>
                  <md-form-field class="full-width">
                    <input 
                      mdInput 
                      placeholder="Email Address"
                      formControlName="email"
                    >
                    <md-error *ngIf="personForm.get('email').hasError('required')" >A <strong>valid email address </strong>is required.</md-error>
                  </md-form-field>
                  <md-form-field class="full-width">
                    <input 
                      mdInput 
                      type="text" 
                      placeholder="TCOLE PID"
                      formControlName="pid">
                    <md-hint align="start">This may not be applicable for you...</md-hint>
                  </md-form-field>
                </div>
                  <button 
                    md-raised-button 
                    type="submit"
                    color="primary"
                    [disabled]="!personForm.valid">{{ this.buttonText }}</button>
            </form>
      </md-card-content>
  </md-card>
  
</div>
