/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

app-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

app-header {
    z-index: 10;
    position: relative;
    
}

/* form {
    padding: 40px;
} */

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.card-list-item {
    display: block;
    margin: 20px;
    width: 310px;
}

.welcome {
    text-align: center;
}

.hero {
    color: #E8EAF6;
    background-color: #5C6BC0;
    padding: 65px 10px 1px;
}

.viewer-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 150px;
}

.viewer-wrapper-large {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 63px;
}

.viewer-wrapper-home {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 63px;
    padding: 40px 0px 0px;
    color: white;
    background-color: #3F51B5;
}

.viewer-wrapper-finish {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 63px;
    padding: 40px 0px 0px;
}

.viewer-wrapper-title {
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding: 8px 20px;
    color: rgba(26, 35, 126,.54);
    background-color: #C5CAE9;
}

.icon-space {
    width: 35px;
}

.full-width {
    width: 100%;
}

.component-header {
    padding-left: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.form-wrapper {
    padding-bottom: 30px;
}

.spacer {
    flex: 1 1 auto;
}